.main-button {
    background-color: rgba($redColor, 0.8);
    color: #222;
    border: none;
    padding: 10px 15px;
    text-align: center;
    min-width: 120px;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: $redColor;
    }

}

.toggler {
    margin: auto;
    width: 60px;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid $redColor;
    position: absolute;
    float: right;
    top: 40px;
    right: 20px;
    cursor: pointer;
    display: none;

    span {
        display: block;
        width: 100%;
        background-color: $redColor;
        height: 2px;

        &:not(:last-child) {

            margin-bottom: 5px;
        }
    }

    @include breakpoints(mobile) {
        display: block;
    }
}