* {
    box-sizing: border-box;
}

body {
    background: #fff;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

ul {
    list-style: none;
    padding: 0;
}